.main-form {
  max-width: 480px;
  margin: 0 auto;
}

select {
  display: block;
  width: 100%;
  margin-top: 8px;
  font-size: large;
}

select option {
  font-size: large;
}

.select-container {
  margin-bottom: 16px;
}